<div class="add-todo">
    
    <h5 class="add-todo-heading">
        Add a todo.
    </h5>

    <form class="add-todo-form" method="POST" action="/todo">

        <div class="form-group form-title">

            <label for="title">
                Title
            </label>

            <input 
            id="title"
            type="text"
            class="form-control"
            name="title"
            placeholder="What do you want to do?"
            />

        </div>

        <div class="form-group form-submit">

            <button type="submit" class="btn btn-primary">
                add todo
            </button>

        </div>

    </form>

</div>